<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Save Part</title>
</head>
<body>

<div class ="container">
    <h3>Setup Directory</h3>
    <hr>
    <p class="h4 mb4">Save Setup</p>
    <form action="#" th:action="@{/setup/save}"
          th:object="${setup}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label th:text="SETType"></label>
        <select name="setType" class="form-control mb-2 col-2" placeholder="SETType" >
            <option th:each="type : ${adpus}"
                    th:text="${type.getIdadpu()}"/>
        </select>
        <label th:text="Description"></label>
        <input type="text" th:field="*{description}"
               class="form-control mb-2 col-2" placeholder="Description">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
</div>
</body>
</html>